<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加</title>
</head>
<body>
 <h1>添加新的学生信息</h1>
    <form action="/add" method="post">
        <input type="text" name="username" placeholder="姓名">
        <br>
        <input type="text" name="age" placeholder="年龄">
        <br>
        <input type="text" name="height" placeholder="身高">
        <br>
        <input type="text" name="grade" placeholder="年级">
        <br>
        <button type="submit">添加</button>
    </form>
</body>
</html>